*{
    font-family:'Courier New', Courier, monospace;
}

.header{
    align-items: center;
    margin: left;
    margin: right;
    background: radial-gradient(circle,rgb(249, 237, 105) 0%,rgb(184, 59, 94) 100%,rgb(240, 138, 93) 20%,rgb(106, 44, 112) 100%);
    
}
img{
   
    max-width: 100%;
    max-height: 100%;
}
.container{
    max-width:auto;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.row{
    display: flex;
    max-width: 2000px;
    margin:auto;

   
    
}
.rowGame{
    display: flex;
    flex-basis: 30%;

    padding-right: 25px;
    background-color: #555;
    justify-content: center;
    
}

.navbar{
    display:flex;
    align-items:center;
    
}
.navbar1{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #0A141D;
    
}
nav{
    flex:1;
    text-align:right;
    text-decoration: none;
    
}
nav ul{
    display:inline-block;
    list-style-type:none;
    
}
    nav ul li{
        display:inline-block;
        margin-right:20px;
        
        
    }
        nav ul li a{
            text-decoration: none;
            color: white;
            font-style: bold;
            font-size: large;
        }
a.gh{
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3px;
    padding-left: 2px;
}

input[type=text]{
    border:2px solid black;
    width: 200px;
    
    
}
.small-container{
    justify-content: center;
    margin:auto;
    align-items: center;
    
}
.title{
    text-align:center;

  
    line-height:60px;
    background-color: #121212;
}

.col-lg-4{
 

    background-color: #121212;


    
}
.col-sm-3{
    
    padding: 100px;
}


